* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom right, rgb(17, 17, 17), rgb(73, 0, 0));
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100%;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.banner img {
    width: 250px;
    height: auto;
}

.menu-container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    padding: 5px 0px;
}

.menu-container img {
    width: 70px;
    height: auto;
    padding-right: 5px;
}

.menu-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
}

.menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    line-height: 1.4;
}

.menu-name {
    font-size: 1.1em;
}

.menu-price, .menu-ingredients {
    font-size: 0.8em;
}

.menu-price {
    font-weight: bold;
}

.add-item {
    background-color: rgba(0, 0, 0, 0.418);
    border-radius: 50%;
    padding: 4px 8px;
}

.buy-item {
    overflow: auto;
    border-bottom: 1px solid lightgray;
}

.order {
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

.order-container {
    overflow: auto;
    margin: 10px 20px;
}

.order-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.order-name{
    line-height: 1.3;
}

.remove {
    font-size: 0.8em;
    line-height: 2;
}

.total {
    margin: 10px;
}

.total p{
    font-size: 1.1em;
    font-weight: bold;
    text-align: right;
}

.checkout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.order-btn {
    background-color: rgba(0, 0, 0, 0.601);
    color: #49FF9C;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 15px 40px;
}

.hidden {
    display: none;
}

.checkout-form{
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); 
    margin: auto;
    width: 300px;
    height: 350px;
    background-color: ghostwhite;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
}

.form-container h3 {
    margin-bottom: 20px;
}

.form-container input{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px 20px;
    width: 100%;
}

.pay-btn {
    background-color: black;
    color: #49FF9C;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 20px;
    width: 100%;
}



